<?php

/**
 * Configuration for debug purpose
 * Rename this into Config.php
 */
class Config {
	/**
	 * string
	 */
	const KEY = 'AIzaSyB55gLF0Q8kNfFaCkw-ip6HkOJz6L9PrTQ';

	/**
	 * @var float
	 */
	const LATITUDE = -8.6940808;

	/**
	 * @var float
	 */
	const LONGITUDE = 115.1770592;
}